@charset "utf-8";
/*全局*/
body,div,p,ul,ol,li,dl,dt,dd,form,input,table,img,h1,h2,h3,h4,h5,h6,header,section,footer,nav,figure,figcaption,article{margin:0;padding:0}
header,section,footer,nav,figure,figcaption,article,aside,dialog,menu{display:block}
body,input,select,textarea {font-family: "Microsoft Yahei", "Arial", verdana, helvetica, sans-serif;}
img{border:none;display:block;vertical-align:top;}
table {border-collapse: collapse;border-spacing: 0;}
th,td {text-align: center;vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a{text-decoration: none;}
a:hover {text-decoration: none;}
fieldset,img,input,button,textarea {border: 0;}
ol,ul,li {list-style: none;}
em {font-style: normal;}
input[type="text"],input[type="button"],input[type="submit"],input[type="search"],input[type="number"] {-webkit-appearance: none;border-radius: 0}
input[type="checkbox"] {margin: 0 3px 3px 4px;}
input,button{outline: none;}
video {margin-left: auto;margin-right: auto;max-width: 100%}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.show {display: block;}
.hide {display: none;}
/* 重置安卓iOS下面input焦点状态白底的样式 */
input {
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-tap-highlight-color: transparent;
}
input,
select,
option,
textarea,
button {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  padding: 0;
}
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  padding: 0;
}

[v-cloak] {
  display: none;
}


/*@charset "utf-8";*/
html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #525252;
  font-size: 14px;
  background: #fff;
}

body {
  -webkit-user-select: none;
  user-select: none;
  max-width: 640px;
  margin: 0 auto;
}

body>div#app {
  width: 100%;
  height: 100%;
}

